{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Small Business - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'AppClub\css\Clubb.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="#!">Dragones del horizonte</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'inicio' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'forms' %}">Alumnos</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'formsProf' %}">Profesores</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'formsComp' %}">Copetencias</a></li>
                        {% if user.is_authenticated %}
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            User 
                            </button>
                            <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'show_user' %}">info</a></li>
                            <li><a class="dropdown-item" href="{% url 'edit_user' %}">change user</a></li>
                            <li><a class="dropdown-item" href="{% url 'edit_password' %}">change password</a></li>
                            <li><a class="dropdown-item"  href="{% url 'logout_view' %}">Logout</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'logout_view' %}">Logout</a></li>
                            </ul>
                        </div>

                        {% else %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'registrer_view' %}">Registrar</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'login_view' %}">Login</a></li>
                        {%endif%}

                    </ul>
                    <div class="dropdown">
                        <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Enviar solicitud
                        </button>
                        <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'alumno_form' %}">Alumno</a></li>
                        <li><a class="dropdown-item" href="{% url 'profesor_form' %}">Profesor</a></li>
                        <li><a class="dropdown-item" href="{% url 'competencias_form' %}">Competencias</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://th.bing.com/th/id/OIP.DIJ6wC4tjsrW1n2aDJ_8DwHaE7?rs=1&pid=ImgDetMain"  alt="..." /></div>
                <div class="col-lg-5">
                    <h1 class="font-weight-light">Club deportivo: Dragones del Horizonte</h1>
                    <p>Descripción del Club: Los Dragones del horizonte son un club deportivo comprometido con la excelencia, el trabajo en equipo y el desarrollo integral de sus miembros. Nuestro objetivo es fomentar la pasión por el deporte, promover un estilo de vida saludable y crear un sentido de comunidad entre nuestros atletas y aficionados.
</p>
                </div>
            </div>
            {% block content %}

            {% endblock %}
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
