
{% extends 'AppClub\base.html' %}

{% block content %}
<body>
    <center><h1>Los dragones del horizonte</h1></center>
    <center><p>Esta app fue creada para organizar y controlar las solicitudes para entrar a este club.El Club Deportivo Dragones del Horizonte es una organización dedicada a promover la actividad física y el deporte en la comunidad. Fundado en un entorno montañoso, el club se inspira en la fuerza y la agilidad de los dragones, fomentando un espíritu de superación y trabajo en equipo. 
    </p></center>
</body>
{% endblock %}