{% extends 'AppClub\base2.html' %}
{% load static %}
{% block content %}

<table class="table">
    <thead>
    <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Deporte</th>
        <th scope="col">Fecha</th>
        <th scope="col">Editar</th>
    </tr>
    </thead>
    <tbody>
        <center><h1>Solicitudes de Competencias:</h1></center>
        <center><h5>Aqui estan los datos</h5></center>
    {%for formsComp in formsComp%}
    <tr>
        <td>{{formsComp.nombre}}</td>
        <td>{{formsComp.deporte}}</td>
        <td>{{formsComp.fecha}}</td>
        {% if user.is_authenticated %}
        <td><a class="btn btn-danger" href="{% url 'eliminar_soliComp' formsComp.id  %}">Eliminar</a> <a class="btn btn-warning" href="{% url 'edit_soliComp' formsComp.id  %}" >Editar</a><a class="btn btn-info" href="{% url 'detalle_soliComp' formsComp.id  %}" >Detalles</a></td>
        {% else %}
            <td> <a class="btn btn-info" href="{% url 'detalle_soliComp' formsComp.id  %}" >Detalles</a> Sin permisos</td>
        {%endif%}
    {% endfor %}
    </tbody>
</table>
{% endblock %}