{% extends 'AppClub\base2.html' %}
{% load static %}
{% block content %}

<table class="table">
    <thead>
    <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Deporte</th>
        <th scope="col">Fecha</th>
        <th scope="col">Editar</th>
    </tr>
    </thead>
    <tbody>
    {%for formsComp in formsComp%}
    <tr>
        <td>{{formsComp.nombre}}</td>
        <td>{{formsComp.deporte}}</td>
        <td>{{formsComp.fecha}}</td>
        <td><a class="btn btn-danger" href="{% url 'eliminar_soliComp' formsComp.id  %}">Eliminar</a> <a class="btn btn-warning" href="{% url 'edit_soliComp' formsComp.id  %}" >Editar</a></td>
    {% endfor %}
    </tbody>
</table>
{% endblock %}