
{% extends 'AppClub\base.html' %}

{% block content %}
<div class="card text-white bg-secondary my-5 py-4 text-center">
    <div class="card-body"><p class="text-white m-0">This call to action card is a great place to showcase some important information or display a cleMirar tagline!</p></div>
</div>
<center><h1>Tablas de solicitudes:</h1></center>
<div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Alumnos</h2>
                <center><div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://th.bing.com/th/id/OIP.zhoU-YFneuWnSsb-5Q9bZQHaEK?rs=1&pid=ImgDetMain"  alt="..." /></div></center>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'forms' %}">Mirar</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Profesores</h2>
                <center><div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://th.bing.com/th/id/OIP.wTi8SUenc7POfGs4pryI6AHaHa?rs=1&pid=ImgDetMain"  alt="..." /></div></center>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'formsProf' %}">Mirar</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Competencias</h2>
                <center><div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://th.bing.com/th/id/R.3cd9ef68106de2165cb83a3862a90793?rik=Q7YqArhT7pjNaQ&pid=ImgRaw&r=0"  alt="..." /></div></center>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'formsComp' %}">Mirar</a></div>
        </div>
</div>
</div>
{% endblock %}
