{% extends 'AppClub\base2.html' %}

{% block content %}
<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-4">
            <form action="" method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Ingrese Usuario">
            <input type="password" name="password" placeholder="Ingrese contraseña">
            <button type="submit" class="btn btn-primary"> log in</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}